<%= content_for :title do %>
  Roadmap
<% end %>

<div class="bg-white rounded-lg shadow-md p-6 max-w-4xl mx-auto">
  <div class="rendered-markdown">
    <%= auto_link(markdown_to_html(Rails.root.join("ROADMAP.md").read)).html_safe %>
  </div>
</div>
