<h1 class="text-2xl">Welcome</h1>

<h2 class="text-lg">This is seasoning, a website about TV shows</h2>

<p>This is <strong>Seasoning</strong>. It&rsquo;s a simple website to help you survive the age of <em>Peak TV</em>.</p>

<p>Did your coworker recommend some show that will totally change your life? Don&rsquo;t stress. Jot it down, make a note of it, and get back to your life. Then next time you&rsquo;re bored off your gourd, check back in.</p>

<p>&mdash;<a href="https://www.hardscrabble.net/" target="_blank" rel="noreferrer">Max</a></p>

<p class="mt-2 mb-2">To sign up or log in, just enter your email address and we&rsquo;ll send you a link to get started:</p>

<%= form_with model: MagicLink.new do |f| %>
  <%= f.text_field :email, placeholder: "email", class: "text-field" %>
  <%= f.submit "Go", class: "rounded-button ml-2" %>
<% end %>

<div class="mt-2">
  <h1 class="mb-2 text-2xl">Demo (February 14, 2023)</h1>
    <div class="embed-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/4aB6LbN2ff8"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowFullScreen></iframe>
    </div>
</div>
