<h1 class="text-2xl">Welcome</h1>

<p>
  This is <strong>Seasoning</strong>. It&rsquo;s a simple website to help you
  survive the age of <em>Peak TV</em>.
</p>

<p>
  Did your coworker recommend some show that will totally change your life?
  Don&rsquo;t stress. Jot it down, make a note of it, and get back to your life.
  Then next time you&rsquo;re bored off your gourd, check back in.
</p>

<p>
  &mdash;
  <a href="https://www.hardscrabble.net/" target="_blank" rel="noreferrer">Max</a>
</p>

<div class="mt-8 flex gap-4">
  <%= link_to "Sign up", signup_path, class: "rounded-button" %>
  <%= link_to "Sign in", login_path, class: "rounded-button" %>
</div>
