<h1 class="text-2xl">Welcome</h1>

<h2 class="text-lg">This is seasoning, a website about TV shows</h2>

<p>
  This is <strong>Seasoning</strong>. It&rsquo;s a simple website to help you
  survive the age of <em>Peak TV</em>.
</p>

<p>
  Did your coworker recommend some show that will totally change your life?
  Don&rsquo;t stress. Jot it down, make a note of it, and get back to your life.
  Then next time you&rsquo;re bored off your gourd, check back in.
</p>

<p>
  &mdash;
  <a href="https://www.hardscrabble.net/" target="_blank" rel="noreferrer">Max</a>
</p>

<p class="mt-2 mb-2">
  To sign up or log in, just enter your email address and we&rsquo;ll send you a
  link to get started:
</p>

<%= form_with model: @magic_link, url: magic_links_path do |f| %>
  <% if @magic_link.errors.any? %>
    <div class="mb-4">
      <% @magic_link.errors.full_messages.each do |error| %>
        <div class="text-red-600"><%= error %></div>
      <% end %>
    </div>
  <% end %>

  <div class="flex items-center">
    <%= f.text_field :email, placeholder: "email", class: "text-field" %>
    <%= f.submit "Go", class: "rounded-button ml-2" %>
  </div>
<% end %>
