version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      herb:
        patterns:
          - "@herb-tools/*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
