# allow packages without specifying the specific version
allow-scripts-pin=false

# Check that version of node.js is what is specified
engine-strict=true

# Make sure you allow or deny packages
strict-allow-scripts=true
