@import "tailwindcss";

@plugin "@tailwindcss/forms";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

p {
  margin: 15px 0;
}

blockquote {
  border-left: var(--color-yellow-600) solid 1px;
  margin-left: 1em;
  padding-left: 5px;
}

a,
.link-looking-button {
  color: var(--color-yellow-600);
}

a:hover,
.link-looking-button:hover {
  text-decoration: underline;
}

.rendered-markdown h1 {
  @apply text-2xl;
}

.rendered-markdown h2 {
  @apply text-xl;
}

.rendered-markdown h3,
.rendered-markdown h4,
.rendered-markdown h5,
.rendered-markdown h6 {
  @apply text-lg;
}

.rendered-markdown ol {
  @apply list-decimal;
  @apply list-inside;
}

.rendered-markdown ul {
  @apply list-disc;
  @apply list-outside;
  @apply ml-6;
}

.rounded-button {
  @apply cursor-pointer rounded-2xl border border-orange-200 bg-orange-100 px-4 py-1 text-sm font-semibold text-orange-600 hover:border-transparent hover:bg-orange-600 hover:text-white focus:ring-2 focus:ring-orange-600 focus:ring-offset-2 focus:outline-hidden disabled:cursor-default disabled:hover:border-orange-200 disabled:hover:bg-orange-100 disabled:hover:text-orange-600;
}

.text-field {
  @apply focus:border-yellow-400 focus:ring-yellow-400;
}

.select-field {
  @apply focus:border-yellow-400 focus:ring-yellow-400;
}

.flash {
  @apply mb-2 rounded-sm p-2;
}

.flash.flash-notice {
  @apply bg-green-200;
}

.flash.flash-alert {
  @apply bg-orange-300;
}

.link-looking-button {
  all: reset;
  display: inline;
  cursor: pointer;
}
