<%# locals: (show:, my_show:) %>

<div class="mb-2">
  <% if my_show %>
    <%= button_to "Remove", show_your_show_path(show.slug), method: :delete, class: "rounded-button" %>
  <% else %>
    <%= button_to "Add", show_your_show_path(show.slug), method: :post, class: "rounded-button" %>
  <% end %>
</div>
