<%# locals: (my_show:) %>

<%= form_with(model: my_show, url: show_your_show_path(my_show.show.slug), method: :patch) do |f| %>
  <div class="flex items-center gap-2">
    <%= f.check_box :available_same_day, onchange: "this.form.requestSubmit()", class: "rounded border-gray-300 text-orange-500 focus:ring-orange-500" %>
    <%= f.label :available_same_day, "New episodes are available to me on air date", class: "text-sm text-gray-700" %>
  </div>
<% end %>
