<%# locals: (episode:) %>

<% if episode.air_date.blank? %>
  —
<% else %>
  <% if current_human.present? && episode.available?(current_human.time_zone) %>
    <span><%= l(episode.air_date, format: :episode_air_date) %></span>
  <% elsif current_human.blank? && episode.air_date <= Date.current %>
    <span><%= l(episode.air_date, format: :episode_air_date) %></span>
  <% else %>
    <span class="text-slate-400">
      <%= l(episode.air_date, format: :episode_air_date) %>
    </span>
  <% end %>
<% end %>
