<%# locals: (badge:) %>

<% if badge.available > 0 %>
  <div
    class="
      absolute -top-2 -right-2 inline-flex items-center justify-center
      w-6 h-6 rounded-full bg-red-500 text-white text-xs font-bold
    "
    title="<%= pluralize(badge.available, "available episode") %>"
  >
    <%= badge.available > 9 ? "…" : badge.available %>
  </div>
<% elsif badge.upcoming > 0 %>
  <div
    class="
      absolute -top-2 -right-2 inline-flex items-center justify-center
      w-6 h-6 rounded-full bg-gray-400 text-white text-xs font-bold
    "
    title="<%= pluralize(badge.upcoming, "upcoming episode") %>"
  >
    <%= badge.upcoming > 9 ? "…" : badge.upcoming %>
  </div>
<% end %>
