<%= content_for :title do %>
  Changelog
<% end %>

<div class="bg-white rounded-lg shadow-md p-6 max-w-4xl mx-auto">
  <div class="rendered-markdown">
    <%= markdown_to_html(Rails.root.join("CHANGELOG.md").read).html_safe %>
  </div>
</div>
