name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  RAILS_ENV: test
  CI: 1
  COVERAGE: 1
  SEASONING_DATABASE_USERNAME: postgres
  SEASONING_DATABASE_PASSWORD: postgres
  RUBYOPT: "--enable=frozen-string-literal --debug=frozen-string-literal"

jobs:
  ci:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    services:
      postgres:
        image: postgres:16-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: seasoning_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.8
          bundler-cache: true
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm
      - run: npm clean-install
      - run: npm run playwright:install
      - run: bin/lint
      - run: bundle exec rake assets:precompile
      - run: bin/rails db:create db:schema:load
      - run: bin/rails test:all

      - name: Upload capybara screenshots
        uses: actions/upload-artifact@v6
        with:
          name: capybara-screenshots
          path: tmp/screenshots/
          retention-days: 7
        if: ${{ failure() }}
